
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

#form-sub-btn {
  margin: auto;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8fde52 !important;
    border-color: #8fde52 !important;
}

#home-image {
	opacity: 0.5;
	filter: brightness(80%);
}

#home-image:hover {
	opacity: 1.0;
}

#home-title {
	text-align: justify;
}

#reading-peas {
	float: left;
}

.centered {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%)
}

